<% if flash[:notice] %>
  <div class="alert alert-custom alert-dismissible fade show" role="alert">
    <%= flash[:notice] %>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>
