<div class="container px-4">
  <div class="text-center white-text">
    <h1 class="display-5 fw-bold pt-5">CREDO QUEST</h1>
    <h4 class="pt-3">自走して活躍できるエンジニアになるための<br>RUNTEQ CREDO（理念・行動指針）を</h4>
    <h2>①具体的行動まで落とし込み、②成長を見える化できます</h2>

    <div class="d-grid gap-2 col-6 mx-auto py-3">
      <%= button_to "𝕏 Log in", "/auth/twitter2", method: :post, data: { turbo: false }, class: "btn btn-dark btn-lg" %>
    </div>
    <div class="ratio ratio-16x9 py-5">
      <iframe src="https://www.youtube.com/embed/GcvG89McyWY?autoplay=1&mute=1&loop=1&playlist=GcvG89McyWY" title="YouTube video" allowfullscreen></iframe>
    </div>

    <div class="py-5">
      <h1 class="display-5 fw-bold pt-5">〜RUNTEQ CREDOとは？解説動画〜</h1>
      <div class="ratio ratio-16x9">
        <iframe src="https://www.youtube.com/embed/wdLRuRU8H9Q" title="YouTube video" allowfullscreen></iframe>
      </div>
      <div class="d-grid gap-2 col-6 mx-auto py-3">
        <%= button_to "𝕏 Log in", "/auth/twitter2", method: :post, data: { turbo: false }, class: "btn btn-dark btn-lg" %>
      </div>
    </div>
  </div>
</div>
