<div class="container px-4 py-5 my-5">
  <div class="text-center white-text">
    <h1 class="display-5 fw-bold">CREDO QUEST</h1>
    <h1 class="display-5 fw-bold">ã€œã‚¨ãƒ³ã‚¸ãƒ‹ã‚¢ã«ãªã‚‹ãŸã‚ã®æ—…ã€œ</h1>
    <br>
    <p class="lead">ä»²é–“ã¨ã‚¯ã‚¨ã‚¹ãƒˆã‚’ã‚¯ãƒªã‚¢ã—ã¦</p>
    <p class="lead">WEBæ¥­ç•Œã®ã‚«ãƒ«ãƒãƒ£ãƒ¼ã‚’èº«ã«ã¤ã‘ã‚ˆã†ï¼</p>

    <div class="d-grid d-sm-flex justify-content-sm-center">
      <%= button_to "ğ• Log in", "/auth/twitter2", method: :post, data: { turbo: false }, class: "btn btn-dark" %>
      <%# <%= button_to "ã‚²ã‚¹ãƒˆãƒ­ã‚°ã‚¤ãƒ³", '#', method: :get, class: "btn btn-light" %>
    </div>

    <div class="my-5">
      <script>
        function tweet() {
          var text = "ã‚¨ãƒ³ã‚¸ãƒ‹ã‚¢ã«ãªã‚‹æ—…ã«å‡ºã‚ˆã†ï¼";
          var url = "https://www.credo-quest.com \n";
          var hashtags = "CREDO_QUEST,RUNTEQ";
          var via = "CREDO_QUEST";
          var tweetUrl = "https://twitter.com/share?url=" + encodeURIComponent(url)
            + "&text=" + encodeURIComponent(text)
            + "&via=" + encodeURIComponent(via)
            + "&hashtags=" + encodeURIComponent(hashtags);
          window.open(tweetUrl);
        }
      </script>
      <button onclick="tweet()" class="btn btn-dark">ğ• Share</button>
      <br>
      <div class="lead my-2">CREDOã¨ã¯ï¼Ÿè§£èª¬å‹•ç”»</div>
      <div class="ratio ratio-16x9">
        <iframe src="https://www.youtube.com/embed/wdLRuRU8H9Q" title="YouTube video" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
