<div class="container px-4 py-5 my-5">
  <div class="text-center white-text">
    <h1 class="display-5 fw-bold">CREDO QUEST</h1>
    <h4>自走して活躍できるエンジニアになるためのRUNTEQ CREDO（理念・行動指針）を<br>①具体的行動まで落とし込み、②成長を見える化できます</h4>
    <div class="ratio ratio-16x9">
      <iframe src="https://www.youtube.com/embed/B14C7Iz_Gos?si=JpC7w8Qq4r7wzyHC" title="YouTube video" allowfullscreen></iframe>
    </div>

    <div class="d-grid gap-2 col-6 mx-auto">
      <%= button_to "𝕏 Log in", "/auth/twitter2", method: :post, data: { turbo: false }, class: "btn btn-dark btn-lg" %>
    </div>

    <div class="my-5">
      <h1 class="display-5 fw-bold">RUNTEQ CREDOとは？</h1>
      <h4>解説動画も見てみよう！</h4>
      <div class="ratio ratio-16x9">
        <iframe src="https://www.youtube.com/embed/wdLRuRU8H9Q" title="YouTube video" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
