<div class="container px-4 py-5 my-5">
  <div class="text-center white-text">
    <h1 class="display-5 fw-bold">CREDO QUEST</h1>
    <h1 class="display-5 fw-bold">〜エンジニアになるための旅〜</h1>
    <br>
    <p class="lead">仲間とクエストをクリアして</p>
    <p class="lead">WEB業界のカルチャーを身につけよう！</p>

    <div class="d-grid d-sm-flex justify-content-sm-center">
      <%= button_to "Log in", "/auth/twitter2", method: :post, data: { turbo: false }, class: "btn btn-primary bi bi-twitter" %>
      <%# <%= button_to "ゲストログイン", '#', method: :get, class: "btn btn-light" %>
    </div>

    <div class="my-5">
      <script>
        function tweet() {
          var text = "エンジニアになる旅に出よう！";
          var url = "https://www.credo-quest.com \n";
          var hashtags = "CREDO_QUEST,RUNTEQ";
          var via = "CREDO_QUEST";
          var tweetUrl = "https://twitter.com/share?url=" + encodeURIComponent(url)
            + "&text=" + encodeURIComponent(text)
            + "&via=" + encodeURIComponent(via)
            + "&hashtags=" + encodeURIComponent(hashtags);
          window.open(tweetUrl);
        }
      </script>
      <button onclick="tweet()" class="btn btn-info text-light"><i class="bi bi-twitter">Tweet</i></button>
      <br>
      <div class="lead my-2">CREDOとは？解説動画</div>
      <div class="ratio ratio-16x9">
        <iframe src="https://www.youtube.com/embed/wdLRuRU8H9Q" title="YouTube video" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
