<p style="color: green"><%= notice %></p>

<h1>Todos</h1>

<%= turbo_frame_tag @todo do %>

  <%= render "form", todo: @todo %>

  <div id="todos">
    <% @todos.each do |todo| %>
      <%= render todo %>
    <% end %>
  </div>

<% end %>
